@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: "Open Sans";
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-size: 13px;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 696px;
  padding: 0 30px;
  margin: 0 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  padding: 0 20px;
}
.header__row {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 27px;
  font-weight: 700;
  letter-spacing: -0.08em;
  color: #000000;
  position: relative;
  z-index: 2;
}
@media (max-width: 674px) {
  .header__logo {
    font-size: 40px;
  }
}
@media (max-width: 435px) {
  .header {
    padding: 0;
  }
}

.menu-header__list {
  display: flex;
  justify-content: space-between;
}
.menu-header__list li {
  padding: 0 15px;
}
.menu-header__list li:last-child {
  padding: 0px 0px 0px 15px;
}
.menu-header__link {
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #a4a4a4;
}
.menu-header__link:hover {
  color: #ff6c40;
}
.menu-header__link_active {
  color: #ff6c40;
}
@media (max-width: 674px) {
  .menu-header__burger {
    display: block;
    position: absolute;
    top: 42px;
    right: 40px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .menu-header__burger span {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
  }
  .menu-header__burger span:first-child {
    top: 0;
  }
  .menu-header__burger span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu-header__burger.active span {
    background-color: #fff;
    transform: scale(0);
  }
  .menu-header__burger.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .menu-header__burger.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
  .menu-header__body {
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 175px 0px 20px 0px;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    transform: translate3d(0px, -100%, 0px);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
  }
  .menu-header__body.active {
    transform: translate3d(0px, 0px, 0px);
  }
  .menu-header__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-header__list li {
    padding: 0px 0px 45px 0px;
  }
  .menu-header__list li a {
    font-size: 30px;
  }
  .menu-header__list li:last-child {
    padding: 0;
  }
}
@media (max-width: 435px) {
  .menu-header__burger {
    right: 20px;
  }
}

@media (max-width: 674px) {
  .lock {
    overflow: hidden;
  }
}
.content {
  margin: 0px 0px 65px 0px;
}

.title {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 22px;
  color: #000;
  position: relative;
  font-weight: 600;
}
.title:before {
  content: "";
  background: url("../img/elements/Separator.png") no-repeat;
  bottom: 45px;
  position: absolute;
  width: 66px;
  height: 7px;
}
.title:after {
  content: "";
  background: url("../img/elements/Separator.png") no-repeat;
  top: 45px;
  position: absolute;
  width: 66px;
  height: 7px;
}

.text {
  font-size: 15px;
  line-height: 24px;
  color: #535353;
}

.tagComment {
  font-size: 12px;
  color: #535353;
  position: relative;
  text-transform: uppercase;
}
.tagComment:before {
  content: "";
  background: url("../img/elements/Separator.png") 0 0 no-repeat;
  bottom: 45px;
  position: absolute;
  width: 66px;
  height: 7px;
}
.tagComment span {
  font-weight: bold;
}

.background {
  background-color: #f7f7f7;
  position: relative;
}
.background__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.background__row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 137.5px 0;
}
@media (max-width: 767px) {
  .background__row {
    padding: 107.5px 0;
  }
}
@media (max-width: 500px) {
  .background__row {
    padding: 87.5px 0;
  }
}
.background__avatar {
  flex: 0 0 47px;
  transition: all 0.8s ease 0s;
  transform: translate(0px, 0px) scale(1) rotate(0deg) skew(0deg, 0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.background__avatar img {
  border-radius: 50%;
  max-width: 100%;
}
.background__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 25px;
}
.background__text {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  color: #e85f37;
  line-height: 47px;
  text-align: center;
  padding: 0 15px;
  background-color: #ffffff;
  border: 1px solid #dc5227;
  border-radius: 5px;
  position: relative;
}
@media (max-width: 600px) {
  .background__text {
    padding: 0 7.5px;
  }
}
@media (max-width: 400px) {
  .background__text {
    padding: 0 3.25px;
  }
}
.background__text:before {
  content: "";
  position: absolute;
  border-top: 1px solid #dc5227;
  border-left: 1px solid #dc5227;
  height: 12px;
  width: 12px;
  left: 0;
  top: 45%;
  transform: rotate(-45deg);
  margin-left: -7px;
  background-color: #fff;
}

.galaxy {
  padding: 50px 0;
}
.galaxy__title {
  margin: 0px 0px 55px 0px;
  position: relative;
}
.galaxy__text {
  margin: 0px 0px 20px 0px;
}
.galaxy__btn {
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.18em;
  line-height: 26px;
  font-weight: 700;
  color: #e85f37;
  text-align: center;
  padding: 0 15px;
  height: 26px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #e85f37;
  margin: 0px 0px 50px 0px;
  transition: background-color 0.5s ease, color 0.5s;
  animation: firstAnimation 5s ease infinite alternate 0s forwards;
  box-shadow: 4px 4px 1px #535353;
  position: relative;
}
.galaxy__btn:hover {
  animation-play-state: paused;
}
@media (max-width: 435px) {
  .galaxy__title {
    margin: 0px 0px 35px 0px;
  }
}

.moon {
  padding: 50px 0;
}
.moon__row {
  display: flex;
}
.moon__body {
  flex: 1 1 auto;
  padding: 0px 15px 0px 0px;
}
.moon__img {
  flex: 0 0 271px;
  overflow: hidden;
}
.moon__img img {
  max-width: 100%;
}
.moon__title {
  margin: 0px 0px 55px 0px;
  position: relative;
}
.moon__text {
  margin: 0px 0px 84px 0px;
}
@media (max-width: 674px) {
  .moon {
    padding: 20px 0 50px 0;
  }
  .moon__row {
    flex-direction: column;
  }
  .moon__body {
    order: 2;
  }
  .moon__img {
    order: 1;
    flex: 0 0 230px;
  }
  .moon__title {
    margin: 0px 0px 60px 0px;
  }
  .moon__text {
    margin: 0px 0px 60px 0px;
  }
}
@media (max-width: 435px) {
  .moon__title {
    margin: 0px 0px 35px 0px;
  }
  .moon__img {
    flex: 0 0 220px;
  }
}

.around {
  margin: 0px 0px 126px 0px;
}
.around__title {
  margin: 0px 0px 61px 0px;
}
.around__text {
  margin: 0px 0px 70px 0px;
}
@media (max-width: 770px) {
  .around {
    margin: 0px 0px 85px 0px;
  }
}
@media (max-width: 435px) {
  .around {
    margin: 0px 0px 60px 0px;
  }
  .around__title {
    margin: 0px 0px 35px 0px;
  }
}

.bottom__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom__btn {
  height: 35px;
  background-color: #000000;
  border-radius: 5px;
  padding: 12px 20px;
  display: inline-block;
}
.bottom__btn span {
  font-family: OpenSans;
  font-weight: 700;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  padding: 0 0 0 20px;
}
.bottom__btn:before {
  content: "";
  background: url("../img/icons/Left.png") left 0/100% no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
}
.bottom__menu {
  flex: 0 1 20%;
}

.menu__list {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
}
.menu__link_link1 {
  animation: order 5s ease infinite 0s;
}
@keyframes firstAnimation {
  0% {
    background: blue;
    color: white;
  }
  25% {
    box-shadow: 3px 3px 1px #535353;
    color: white;
  }
  50% {
    background: red;
    color: white;
    box-shadow: 2px 2px 1px #535353;
  }
  75% {
    color: white;
    box-shadow: 3px 3px 1px #535353;
  }
  100% {
    color: white;
    background: gray;
  }
}
@keyframes order {
  0% {
    order: 4;
  }
}